alembic==1.6.5
banal==1.0.6
beautifulsoup4==4.9.3
certifi==2021.5.30
charset-normalizer==2.0.3
colorama==0.4.4
configparser==5.0.2
crayons==0.4.0
dataset==1.5.0
docopt==0.6.2
et-xmlfile==1.1.0
greenlet==1.1.0
idna==3.2
jdcal==1.4.1
Mako==1.1.4
MarkupSafe==2.0.1
openpyxl==2.4.11
python-dateutil==2.8.2
python-editor==1.0.4
records==0.5.3
requests==2.26.0
selenium==3.141.0
six==1.16.0
soupsieve==2.2.1
SQLAlchemy==1.4.21
tablib==3.0.0
urllib3==1.26.6
webdriver-manager==3.4.2
